// Imports
@import "../../tools/mixins/mixins.scss";
@import "../../tools/themes/themes.scss";
@import "../../tools/variables/variable.scss";

// Fonts
@font-face {
  font-family: "Noto Sans Medium";
  src: url("../../../fonts/NotoSans-Medium.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans Regular";
  src: url("../../../fonts/NotoSans-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Poppins Black";
  src: url("../../../fonts/Poppins-Black.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Poppins Extra Bold";
  src: url("../../../fonts/Poppins-ExtraBold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Poppins Bold";
  src: url("../../../fonts/Poppins-Bold.ttf");
  font-display: swap;
}

// Desktop
.back_to_top {
  position: fixed;
  z-index: 100;
  bottom: -100%;
  right: 10px;

  button {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    font-size: $Text;
    background-color: $Seance;
    color: white;
    @include displayElement(flex, center, center);

    &:hover {
      background-color: $VividViolet;
    }
  }
}
.submission_success_message {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 450px;
  height: 180px;
  @include displayElement(none, center, center);
  overflow: hidden;
  white-space: pre-wrap;
  background-color: rgb(244, 244, 244);
  opacity: 0;
  visibility: hidden;
  z-index: 600;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.218);

  button {
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0.7;
    width: 25px;
    height: 25px;
    @include displayElement(flex, center, center);
    font-size: clamp(16px, 16px, 16px);
  }

  .submission_success_message_cnt {
    display: block;
    text-align: center;

    .icon {
      color: green;
      font-size: clamp(19px, 20px, 20px);
      margin-bottom: 15px;
    }

    span {
      font-family: "Noto Sans Regular";
      font-size: clamp(17px, 18px, 18px);
      display: block;
    }
  }
}
.current_user {
  background-color: red;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  @include displayElement(none, space-between, center);
  padding-left: 15px;
  padding-right: 15px;
  z-index: 500;

  span {
    font-family: "Poppins Bold";
    color: white;
  }

  button {
    border: 2px solid white;
    padding: 5px;
    font-family: "Poppins Bold";
    color: white;
    font-size: 14px;

    &:hover {
      background-color: white;
      color: red;
    }
  }
}
.login_toggler,
.login_closer {
  position: fixed;
  bottom: 10px;
  left: 9px;
  background-color: $VividViolet;
  width: 42px;
  height: 42px;
  border-radius: 5px;
  color: white;
  font-size: clamp(18px, 21px, 21px);
  @include displayElement(flex, center, center);
  z-index: 350;
}
.login_closer {
  display: none;
}
.login_window {
  position: fixed;
  left: 9px;
  bottom: 60px;
  // width: 100%;
  // max-width: 300px;
  display: none;
  background-color: rgb(237, 237, 237);
  z-index: 350;
  overflow: hidden;
  white-space: nowrap;

  .login_window_main {
    padding: 10px;

    .login_window_main_top {
      font-family: "Poppins Bold";
      font-size: clamp(15px, 19px, 19px);
    }

    .login_window_main_form_holder {
      margin-top: 10px;

      form {
        .form_set {
          @include displayElement(flex, flex-start, center);

          input {
            background-color: white;
            font-family: "Noto Sans Regular";
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 5px;
            padding-bottom: 5px;
            margin-bottom: 10px;
          }
        }

        .login_error {
          font-family: "Noto Sans Medium";
          color: red;
        }

        .form_btns {
          margin-top: 15px;
          @include displayElement(flex, flex-start, center);

          button {
            color: white;
            padding: 7px;
            font-family: "Poppins Bold";
            font-size: clamp(12px, 14px, 14px);
          }

          .clear {
            margin-right: 15px;
            background-color: $MineShaft;
          }

          .login {
            background-color: $VividViolet;
          }
        }
      }
    }
  }
}

// Responsive
@media all and (max-width: 1995px) {
}

@media all and (max-width: 991px) {
  .back_to_top {
    button {
      width: 35px;
      height: 35px;
    }
  }

  .submission_success_message {
    max-width: 400px;
    height: 150px;

    .submission_success_message_cnt {
      span {
        font-size: clamp(14px, 15px, 15px);
      }
    }
  }

  .current_user {
    flex-wrap: wrap;

    span {
      display: block;
    }
  }
}

@media (min-width: 992px) {
}

// Desktop Window (Smallest)
@media all and (max-width: 768px) {
  .back_to_top {
    button {
      width: 32px;
      height: 32px;
    }
  }

  .submission_success_message {
    max-width: 300px;
    height: 150px;

    .submission_success_message_cnt {
      padding-left: 10px;
      padding-right: 10px;

      span {
        font-size: clamp(12px, 13px, 13px);
      }
    }
  }

  .login_toggler,
  .login_closer {
    width: 33px;
    height: 33px;
    font-size: 15px;
  }

  .login_window {
    bottom: 50px;

    .login_window_main {
      .login_window_main_top {
        span {
          font-size: clamp(13px, 15px, 15px);
        }
      }

      .login_window_main_form_holder {
        form {
          .form_set {
            input {
              padding-top: 3px;
              padding-bottom: 3px;
              padding-left: 5px;
              padding-right: 5px;
              font-size: clamp(12px, 13px, 13px);
            }
          }

          .login_error {
            font-size: clamp(13px, 14px, 14px);
          }

          .form_btns {
            button {
              font-size: clamp(12px, 13px, 13px);
            }
          }
        }
      }
    }
  }
}

// Smaller Devices (Phones)
@media all and (max-width: 419px) {
  .back_to_top {
    button {
      width: 32px;
      height: 32px;
    }
  }

  .submission_success_message {
    max-width: 95%;
    height: 130px;

    .submission_success_message_cnt {
      padding-left: 10px;
      padding-right: 10px;

      span {
        font-size: clamp(12px, 13px, 13px);
      }
    }
  }

  .login_toggler,
  .login_closer {
    width: 33px;
    height: 33px;
    font-size: 15px;
  }

  .login_window {
    bottom: 50px;

    .login_window_main {
      .login_window_main_top {
        span {
          font-size: clamp(13px, 15px, 15px);
        }
      }

      .login_window_main_form_holder {
        form {
          .form_set {
            input {
              padding-top: 3px;
              padding-bottom: 3px;
              padding-left: 5px;
              padding-right: 5px;
              font-size: clamp(12px, 13px, 13px);
            }
          }

          .login_error {
            font-size: clamp(13px, 14px, 14px);
          }

          .form_btns {
            button {
              font-size: clamp(12px, 13px, 13px);
            }
          }
        }
      }
    }
  }
}

// Pixel 2 XL
@media only screen and (min-device-width: 411px) and (max-device-width: 823px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .back_to_top {
    button {
      width: 35px;
      height: 35px;
    }
  }

  .submission_success_message {
    max-width: 350px;
    height: 120px;

    .submission_success_message_cnt {
      padding-left: 10px;
      padding-right: 10px;

      span {
        font-size: clamp(12px, 13px, 13px);
      }
    }
  }
}

// Ipad
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .back_to_top {
    button {
      width: 37px;
      height: 37px;
    }
  }

  .submission_success_message {
    max-width: 390px;
    height: 150px;

    .submission_success_message_cnt {
      padding-left: 10px;
      padding-right: 10px;

      span {
        font-size: clamp(14px, 15px, 15px);
      }
    }
  }

  .login_toggler,
  .login_closer {
    width: 38px;
    height: 38px;
    font-size: 17px;
  }

  .login_window {
    bottom: 60px;

    .login_window_main {
      .login_window_main_top {
        span {
          font-size: clamp(14px, 16px, 16px);
        }
      }

      .login_window_main_form_holder {
        form {
          .form_set {
            input {
              padding-top: 5px;
              padding-bottom: 5px;
              padding-left: 8px;
              padding-right: 8px;
              font-size: clamp(13px, 14px, 14px);
            }
          }

          .login_error {
            font-size: clamp(14px, 15px, 15px);
          }

          .form_btns {
            button {
              font-size: clamp(13px, 14px, 14px);
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .back_to_top {
    button {
      width: 37px;
      height: 37px;
    }
  }

  .submission_success_message {
    max-width: 390px;
    height: 150px;

    .submission_success_message_cnt {
      padding-left: 10px;
      padding-right: 10px;

      span {
        font-size: clamp(13px, 14px, 14px);
      }
    }
  }
}

// iPad Pro
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .back_to_top {
    button {
      width: 40px;
      height: 40px;
    }
  }

  .submission_success_message {
    max-width: 420px;
    height: 170px;

    .submission_success_message_cnt {
      padding-left: 10px;
      padding-right: 10px;

      span {
        font-size: clamp(15px, 16px, 16px);
      }
    }
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .back_to_top {
    button {
      width: 40px;
      height: 40px;
    }
  }

  .submission_success_message {
    max-width: 420px;
    height: 170px;

    .submission_success_message_cnt {
      padding-left: 10px;
      padding-right: 10px;

      span {
        font-size: clamp(15px, 16px, 16px);
      }
    }
  }
}

// Laptops
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .back_to_top {
    button {
      width: 40px;
      height: 40px;
    }
  }

  .submission_success_message {
    max-width: 420px;
    height: 170px;

    .submission_success_message_cnt {
      padding-left: 10px;
      padding-right: 10px;

      span {
        font-size: clamp(15px, 16px, 16px);
      }
    }
  }
}
