// Imports
@import "../../tools/mixins/mixins.scss";
@import "../../tools/themes/themes.scss";
@import "../../tools/variables/variable.scss";

// Fonts
@font-face {
  font-family: "Noto Sans Medium";
  src: url("../../../fonts/NotoSans-Medium.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans Regular";
  src: url("../../../fonts/NotoSans-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Poppins Black";
  src: url("../../../fonts/Poppins-Black.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Poppins Extra Bold";
  src: url("../../../fonts/Poppins-ExtraBold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Poppins Bold";
  src: url("../../../fonts/Poppins-Bold.ttf");
  font-display: swap;
}

// Desktop
.back_to_top {
  position: fixed;
  z-index: 100;
  bottom: -100%;
  right: 10px;

  button {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    font-size: $Text;
    background-color: $Seance;
    color: white;
    @include displayElement(flex, center, center);

    &:hover {
      background-color: $VividViolet;
    }
  }
}
.submission_success_message {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 450px;
  height: 180px;
  @include displayElement(none, center, center);
  overflow: hidden;
  white-space: pre-wrap;
  background-color: rgb(244, 244, 244);
  opacity: 0;
  visibility: hidden;
  z-index: 600;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.218);

  button {
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0.7;
    width: 25px;
    height: 25px;
    @include displayElement(flex, center, center);
    font-size: clamp(16px, 16px, 16px);
  }

  .submission_success_message_cnt {
    display: block;
    text-align: center;

    .icon {
      color: green;
      font-size: clamp(19px, 20px, 20px);
      margin-bottom: 15px;
    }

    span {
      font-family: "Noto Sans Regular";
      font-size: clamp(17px, 18px, 18px);
      display: block;
    }
  }
}
.current_user {
  display: none;
}

// Responsive
@media all and (max-width: 1995px) {
}

@media all and (max-width: 991px) {
  .back_to_top {
    button {
      width: 35px;
      height: 35px;
    }
  }

  .submission_success_message {
    max-width: 400px;
    height: 150px;

    .submission_success_message_cnt {
      span {
        font-size: clamp(14px, 15px, 15px);
      }
    }
  }
}

@media (min-width: 992px) {
}

// Desktop Window (Smallest)
@media all and (max-width: 768px) {
  .back_to_top {
    button {
      width: 32px;
      height: 32px;
    }
  }

  .submission_success_message {
    max-width: 300px;
    height: 150px;

    .submission_success_message_cnt {
      padding-left: 10px;
      padding-right: 10px;

      span {
        font-size: clamp(12px, 13px, 13px);
      }
    }
  }
}

// Smaller Devices (Phones)
@media all and (max-width: 419px) {
  .back_to_top {
    button {
      width: 32px;
      height: 32px;
    }
  }

  .submission_success_message {
    max-width: 95%;
    height: 130px;

    .submission_success_message_cnt {
      padding-left: 10px;
      padding-right: 10px;

      span {
        font-size: clamp(12px, 13px, 13px);
      }
    }
  }
}

// Pixel 2 XL
@media only screen and (min-device-width: 411px) and (max-device-width: 823px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .back_to_top {
    button {
      width: 35px;
      height: 35px;
    }
  }

  .submission_success_message {
    max-width: 350px;
    height: 120px;

    .submission_success_message_cnt {
      padding-left: 10px;
      padding-right: 10px;

      span {
        font-size: clamp(12px, 13px, 13px);
      }
    }
  }
}

// Ipad
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .back_to_top {
    button {
      width: 37px;
      height: 37px;
    }
  }

  .submission_success_message {
    max-width: 390px;
    height: 150px;

    .submission_success_message_cnt {
      padding-left: 10px;
      padding-right: 10px;

      span {
        font-size: clamp(14px, 15px, 15px);
      }
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .back_to_top {
    button {
      width: 37px;
      height: 37px;
    }
  }

  .submission_success_message {
    max-width: 390px;
    height: 150px;

    .submission_success_message_cnt {
      padding-left: 10px;
      padding-right: 10px;

      span {
        font-size: clamp(13px, 14px, 14px);
      }
    }
  }
}

// iPad Pro
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .back_to_top {
    button {
      width: 40px;
      height: 40px;
    }
  }

  .submission_success_message {
    max-width: 420px;
    height: 170px;

    .submission_success_message_cnt {
      padding-left: 10px;
      padding-right: 10px;

      span {
        font-size: clamp(15px, 16px, 16px);
      }
    }
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .back_to_top {
    button {
      width: 40px;
      height: 40px;
    }
  }

  .submission_success_message {
    max-width: 420px;
    height: 170px;

    .submission_success_message_cnt {
      padding-left: 10px;
      padding-right: 10px;

      span {
        font-size: clamp(15px, 16px, 16px);
      }
    }
  }
}

// Laptops
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .back_to_top {
    button {
      width: 40px;
      height: 40px;
    }
  }

  .submission_success_message {
    max-width: 420px;
    height: 170px;

    .submission_success_message_cnt {
      padding-left: 10px;
      padding-right: 10px;

      span {
        font-size: clamp(15px, 16px, 16px);
      }
    }
  }
}
