.full-second {
  transition: 1s ease-in-out !important;
}

.half-second {
  transition: 0.5s ease-in-out !important;
}

.stay-put {
  // transform: translateX(0) !important;
  transition: 0s ease-in-out !important;
  opacity: 1 !important;
}

.selected {
  &::selection {
    // background-color: #1092a7;
    // color: black;
    background-color: #722180;
    color: white;
  }

  &::-moz-selection {
    // background-color: #1092a7;
    // color: black;
    background-color: #722180;
    color: white;
  }
}

.shake-element {
  animation: shakeElement 0.2s ease-in-out infinite;
}

@keyframes shakeElement {
  0%,
  100% {
    transform: translateX(0);
  }
  25%,
  75% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
}
